.editAnswerVariant {
	@apply flex pl-1 gap-x-3 mt-3 items-center;

	.deleteButton {
		@apply text-2xl p-1;
	}

	.decor {
		@apply relative;
		svg {
			@apply absolute top-1/2 left-1/2 -translate-y-1/2 -translate-x-1/2 fill-green-500 text-xl ;
		}
		.svgContainer {
			@apply transition-all;
		}
	}
}
.decor {
	@apply w-6 h-6 border rounded-full basis-6 flex-shrink-0 cursor-pointer;
}
.AddAnswerVariantButton {
	@apply flex pl-1 gap-x-3 mt-3 items-center;
	.AddAnswerVariantButtonText {
		@apply text-sm relative;
		transform: translateY(-2px);

		&:hover {
			&::after {
				@apply w-full;
			}
		}

		&::after {
			content: '';
			height: 1px;
			@apply block absolute -bottom-0.5 w-0 bg-gray-400 transition-all;
		}
	}
}